<!--Header Part-->
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Khmer Culture System</title>
    <link href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="{% static 'css/blog.css' %}" rel="stylesheet">
  </head>
<body>
    <div class="container">
      <header class="blog-header py-3">
        <div class="row flex-nowrap justify-content-between align-items-center">
          <div class="col-4 pt-1">
            <a class="blog-header-logo text-dark" href="/">Khmer Culture System</a>
          </div>
          <div class="col-4">
            <form action="{% url 'search' %}" method="GET">
              <div class="input-group">
                  <input class="form-control" type="text" name="keyword" value="{{keyword}}" placeholder="Tìm kiếm..." aria-label="Enter search term..." aria-describedby="button-search" />
                  <button type="sumbit" class="btn btn-warning" id="button-search" type="button">Tìm kiếm</button>
            </div>
            </form>
          </div>
          <div class="col-4 d-flex justify-content-end align-items-center">
            {% if not user.is_authenticated %}
            <a class="btn btn-sm btn-warning" href="{% url 'core:login' %}">Đăng nhận</a> &nbsp;
            <a class="btn btn-sm btn-outline-secondary" href="{% url 'core:register' %}">Đăng ký</a>
            {% else %}
            <span><a href="{% url 'dashboards:dashboard' %}">Dashboard</a></span>
            &emsp;
            <span><a href="{% url 'core:logout' %}">Đăng xuất</a><span>
            {% endif %}
          </div>
        </div>
      </header>

      <div class="nav-scroller py-1 mb-2">
        <nav class="nav d-flex justify-content-between">
          {% for cat in categories %}
            <a class="p-2 text-muted" href="{% url 'core:posts_by_category' cat.id %}">{{ cat.category_name }}</a>
            
          {% endfor %}
            <a class="p-2 text-muted" href="{% url 'learnkhmer:index' %}">Học tiếng Khmer</a>
        </nav>
      </div>

<!--Main content-->
{% block content %}

{% endblock %}

<!--Footer-->
<footer>
<div class="blog-footer">
  <div class="logo mb-30">
    <a href="index.html" class="mb-15"><img src="{% static '/images/DTNTTV.png' %}" alt="logo" /></a>
    <p class="font-lg text-heading">Trường PT DTNT THPT Tỉnh Trà Vinh</p>
  </div>
  <div class="">
            <a><img src=""><a><strong>Địa chỉ: </strong> <span>Ấp Long Bình, Phường 4, Thành phố Trà Vinh, Tỉnh Trà Vinh</span></li> <br>
            <a><img src=""><strong>Điện thoại:</strong><span>(0924) 3852 206</span></li><br>
            <a><img src=""><strong>Email:</strong><span><a href="/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="6a190b060f2a240f191e44090507"> doantnt@gmail.com</a></span></li> <br>
            <a><img src=""><strong>Thời gian làm việc:</strong><span> 07:00 - 17:00, Thứ hai đến thứ bảy</span></li> <br>
  </div>

  <div>
    <p class="">&copy; 2024, <strong class="text-brand">Khmer Culture System</strong> All rights reserved</p>
  </div>
<div>
</footer>
</body>
</html>